<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar
    color="primary"
    class="!py-10 shadow-[5px_5px_15px_5px_rgba(46,30,58)]"
  >
    <button
      *ngIf="mobileQuery.matches"
      mat-icon-button
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1
      class="flex justify-start place-items-center pt-3"
      [ngClass]="{ mobile: mobileQuery.matches }"
    >
      <img
        src="../../assets/happy-bee.png"
        alt="logo"
        width="50px"
        class="relative bottom-2 mr-3"
      />
      <span>hivehapp</span>
    </h1>

    <span class="flex-auto"></span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      [fixedTopGap]="mobileQuery.matches ? 48 : 56"
    >
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="./">
          DASHBOARD
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
