<a class="nav-link active"> <mat-icon> person_pin</mat-icon>User Profile </a>
<a class="nav-link" (click)="authService.SignOut()">
  <mat-icon>logout</mat-icon>Log out
</a>

<!-- Main content -->
<main>
  <h1>User Profile</h1>

  <!-- Show user data when logged in -->
  <div *ngIf="authService.userData as user">
    <img
      class="rounded-full shadow-[5px_5px_15px_5px_rgba(46,30,58)]"
      src="{{ user.photoURL ? user.photoURL : '../../assets/dummy-user.png' }}"
      alt="{{ user.displayName }}"
      width="200px"
    />

    <h1>
      Hello:
      <strong>{{ user.displayName ? user.displayName : 'User' }}</strong>
    </h1>
    <p>
      User ID: <strong>{{ user.uid }}</strong>
    </p>
    <p>
      Email: <strong>{{ user.email }}</strong>
    </p>
    <p>
      Email Verified: <strong>{{ user.emailVerified }}</strong>
    </p>
  </div>
</main>
