<mat-card>
  <mat-card-header class="flex justify-center my-5">
    <mat-card-title>
      <img src="../../assets/happy-bee.png" width="45px" class="pb-4 mx-auto" />
    </mat-card-title>

    <mat-card-subtitle> Forgot how to buzz? </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSave()" #forgotPasswordForm="ngForm">
      <mat-form-field>
        <mat-label
          >Please enter your email address to request a password
          reset.</mat-label
        >

        <input
          [(ngModel)]="model.emailAddress"
          #email="ngModel"
          name="email"
          type="text"
          placeholder="email@email.com"
          matInput
          required
        />

        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>

        <input
          [(ngModel)]="model.password"
          #password="ngModel"
          name="password"
          type="password"
          placeholder="Password"
          matInput
          required
        />
      </mat-form-field>

      <mat-error></mat-error>

      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" mat-button>
          Submit
        </button>
      </mat-card-actions>

      <mat-card-subtitle routerLink="/sign-in">
        Got back to sign in?
      </mat-card-subtitle>
    </form>
  </mat-card-content>
</mat-card>
